body{
     background: linear-gradient(180deg, #f4e2c2, #d1b28a);
  font-family: 'Lucida Handwriting', cursive;
  color: #3b2f2f;
  margin: 0;
  padding: 0;
}
h1 {
    color:brown;
    text-align: center;
}
.projects {
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 20px;
}
.project img{
  width: 220px;
  height: 220px;
  margin: 10px;
  border: 2px solid rgb(126, 14, 201);
  display: block;
  margin: auto;
  border-radius: 10px;
}
.project img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}
}